body {
  margin:0px;
  background-color:rgba(37, 59, 29, 0.129411764705882);
  background-image:none;
  position:static;
  left:auto;
  width:1086px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:479px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:114px;
  width:470px;
  height:479px;
  display:flex;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:312px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:445px;
  width:470px;
  height:312px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:235px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:269px;
  width:318px;
  height:235px;
  display:flex;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:184px;
  height:25px;
}
#u50p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:180px;
  height:10px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u50p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:10px;
}
#u50p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u50p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u50p002 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.327163111089deg);
  -moz-transform:rotate(180.327163111089deg);
  -ms-transform:rotate(180.327163111089deg);
  transform:rotate(180.327163111089deg);
}
#u50p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:384px;
  width:171px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.32716311108887deg);
  -moz-transform:rotate(-0.32716311108887deg);
  -ms-transform:rotate(-0.32716311108887deg);
  transform:rotate(-0.32716311108887deg);
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:352px;
  width:136px;
  height:69px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:61px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:509px;
  width:246px;
  height:61px;
  display:flex;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:184px;
  height:25px;
}
#u53p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:180px;
  height:10px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u53p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:10px;
}
#u53p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u53p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u53p002 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(180.327163111089deg);
  -moz-transform:rotate(180.327163111089deg);
  -ms-transform:rotate(180.327163111089deg);
  transform:rotate(180.327163111089deg);
}
#u53p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:533px;
  width:171px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.32716311108887deg);
  -moz-transform:rotate(-0.32716311108887deg);
  -ms-transform:rotate(-0.32716311108887deg);
  transform:rotate(-0.32716311108887deg);
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:501px;
  width:136px;
  height:69px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:62px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:695px;
  width:470px;
  height:62px;
  display:flex;
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:56px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:576px;
  width:318px;
  height:56px;
  display:flex;
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:184px;
  height:25px;
}
#u57p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:180px;
  height:10px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u57p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:10px;
}
#u57p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u57p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u57p002 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-13px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(180.327163111089deg);
  -moz-transform:rotate(180.327163111089deg);
  -ms-transform:rotate(180.327163111089deg);
  transform:rotate(180.327163111089deg);
}
#u57p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:603px;
  width:171px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.32716311108887deg);
  -moz-transform:rotate(-0.32716311108887deg);
  -ms-transform:rotate(-0.32716311108887deg);
  transform:rotate(-0.32716311108887deg);
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:579px;
  width:136px;
  height:69px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:116px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:637px;
  width:318px;
  height:116px;
  display:flex;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-11px;
  width:184px;
  height:25px;
}
#u60p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:180px;
  height:10px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u60p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:10px;
}
#u60p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(0.32716311108887deg);
  -moz-transform:rotate(0.32716311108887deg);
  -ms-transform:rotate(0.32716311108887deg);
  transform:rotate(0.32716311108887deg);
}
#u60p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u60p002 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-12px;
  width:28px;
  height:26px;
  -webkit-transform:rotate(180.327163111089deg);
  -moz-transform:rotate(180.327163111089deg);
  -ms-transform:rotate(180.327163111089deg);
  transform:rotate(180.327163111089deg);
}
#u60p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:696px;
  width:171px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.32716311108887deg);
  -moz-transform:rotate(-0.32716311108887deg);
  -ms-transform:rotate(-0.32716311108887deg);
  transform:rotate(-0.32716311108887deg);
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:656px;
  width:136px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:97px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:293px;
  width:315px;
  height:97px;
  display:flex;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:81px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:410px;
  width:315px;
  height:81px;
  display:flex;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
